.button {
    background-color: #e99401;
    padding: 1rem;
    color: #262626;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 10px;
    display: inline-block;
    font-weight: 900;
    border: none;
    transition-property: background-color;
    transition-duration: 0.3s;
    text-align: center;
    cursor: pointer;
    }