.button {
    background-color: #2E86C1;
    padding: 1rem;
    color: white;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 10px;
    display: inline-block;
    font-weight: 700;
    border: none;
    transition-property: background-color;
    transition-duration: 0.3s;
    text-align: center;
    cursor: pointer;
    }