.cartContent {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 20px;

  img {
    width: 90px;
  }
}

.pago {
  font-size: 20px;
  background-color: #262626;
  color: white;
  text-align: center;
  text-shadow: 2px 2px black;
  padding: 5px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 25px;
  cursor: pointer;
}

.bookRow {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 80%;
  margin: auto;
  border-radius: 10px;
  background-color: #FFF;
<<<<<<< HEAD
  color: #e99401;
=======
  color: #262626;
>>>>>>> 51a28bb8503302841cb8a5168e071843413a9078
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 24px;
  font-weight: 900;

  @media(max-width:768px){
    flex-direction: column;
    padding: 2rem;
    border: 2px solid;
<<<<<<< HEAD
=======
    color: #262626;
    font-size: 2rem;
>>>>>>> 51a28bb8503302841cb8a5168e071843413a9078
  }

  :nth-child(3) {
    font-weight: 500;
  }
}



.bottomCart {
  display: flex;
  min-width: 80%;
  flex-wrap: wrap;
  a {
    min-width: 80%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    button {
      margin-top: 20px;
    }
  }
  h2 {
    color: #e99401;
  }
  .backToHome {
    display: flex;
    justify-content: center;
  }
}

.cartTotal {
  margin: auto;
  display: flex;
  justify-content: center;
  min-width: 80%;
 font-size: 2rem;
 margin-top: 2rem;


  
}

.delete {
  background-color:#e99401;
  color: #262626;
  font-weight: 900;
  padding: 1rem;
  border-radius: 10px;
  cursor: pointer;
}
.delete:hover{
  background-color:#262626;
  color:#e99401 ;
}


/* 
.cartContent:last-child{
    align-items: end;
    margin-right: 30px;
} */
