@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&family=Cinzel:wght@600&family=Yanone+Kaffeesatz:wght@300&display=swap');
//font-family: 'Cabin Sketch', cursive;
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&family=Cinzel:wght@600&display=swap');
//font-family: 'Cabin Sketch', cursive;
.cards {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.cards__books {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 350px;
    height: 550px;
    border: 1px solid black;
    padding: 20px;
    background-color: white;
   

  &--img{
      overflow: hidden;
      width: 300px;
      height: 150px;
      margin: 0 auto;
      object-fit: contain;
  }
  h2{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 24px;
  }
  h3{
      font-size: 18px;
      font-family: 'Yanone Kaffeesatz', sans-serif;
  }
  &--text p{
      font-size: 12px;
      text-align: justify;
  }
  span{
      font-size: 26px;
      color: rgb(2, 32, 84);
      font-family: 'Cinzel', serif;
  }
   
}

.container {
    width: 95%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 30px;
    min-height: calc(100vh - 153px);
}


a{
    text-decoration: none;
    color:white;
}