.cards {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.cards__books {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 550px;
    border: 1px solid black;
    padding: 20px;
    background-color: white;
   

  &--img{
      overflow: hidden;
      width: 100%;
      margin: 0 auto;
  }
   
}

.container {
    width: 95%;
    margin: 0 auto;
}


a{
    text-decoration: none;
    color:white;
}

