@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&family=Cinzel:wght@600&family=Yanone+Kaffeesatz:wght@300&display=swap');
//font-family: 'Cabin Sketch', cursive;
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&family=Cinzel:wght@600&display=swap');
//font-family: 'Cabin Sketch', cursive;


.listado {
    display: grid;
    gap: 4rem;
}

@media(min-width: 768px){
    .listado {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(min-width: 992px){
    .listado {
<<<<<<< HEAD
        grid-template-columns: repeat(2, 1fr);
=======
        grid-template-columns: repeat(3, 1fr);
>>>>>>> 51a28bb8503302841cb8a5168e071843413a9078
    }
}


.cards__books {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }

    .imagen {
        display: flex;
        height: 450px;
        width: 300px;
    }

    .imagen img {
        width: 100%;
    }

    .contenido {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
<<<<<<< HEAD
        max-width: 400px;
=======
>>>>>>> 51a28bb8503302841cb8a5168e071843413a9078
    }
    
    
    
    /* //ESTA GENIALIDAD NOS PERMITE EDITAR LA CANTIDAD DE LINEAS Y FORMATEAR LA VISTA PREVIA EN UN DIV */
    .descripcion {
        display: -webkit-box;
        /* //FORMATO VERTICAL EN QUE SE LEERA EL TEXTO */
        -webkit-box-orient: vertical;
        /* LA CANTIDAD DE LINEAS QUE VAMOS A MOSTRAR ANTES DE CORTARLO */
        -webkit-line-clamp: 4;
        /* OCULTA EL RESTO DEL TEXTO */
        overflow: hidden;
      }
    
      .precio {
          color: #e99401;
          font-size: 3rem;
          font-weight: 900;
          margin: 0;
    
      }
    
      .enlace {
        text-decoration: none;
        margin-top: 2rem;
        display: block;
        text-align: center;
        text-transform: uppercase;
        font-size: 1.1rem;
        font-weight: 900;
        color: #262626;
        border: 2px solid #e99401;
        background-color: #e99401;
        padding: 1rem 5rem;
        transition-property: background-color;
        transition-duration: .3s;
        cursor: pointer;
    }
    
    .enlace:hover{
        background-color: #262626;
        color: #e99401;
    }


.container {
    width: 95%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 30px;
    min-height: calc(100vh - 153px);
}


a{
    text-decoration: none;
    color:white;
}