.nav {
    display: flex;
    height: 120px;
    width: 100%;
    justify-content: space-around;

    background-image: linear-gradient(to right, rgba(199, 190, 190, 0.8), rgba(255, 255, 255, 0.4)), url(http://www.comunidadbaratz.com/wp-content/uploads/Cada-euro-invertido-en-bibliotecas-se-multiplica-por-cuatro-en-beneficios-a-la-sociedad.jpg);
    background-size: cover;
    background-position: 50%;
    padding: 5rem 0;

    a {
        display: flex;
        align-items: center;
    
    img{
        width: 200px;
        object-fit: contain;  
    }

    }}

    @media(max-width: 768px) {

.nav {
    display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     gap: 1rem;
}

    }

    .ul{
        display: flex;
        justify-content:right;
        flex-direction: row;
        li{
                text-align: center;
                text-transform: uppercase;
                font-size: 1.1rem;
                font-weight: 900;
                color: #e99401;
                border: 2px solid #262626 ;
                background-color: #262626;
                padding: .5rem;
                cursor: pointer; 
                margin-right: 15px;
                list-style: none;

                
        
                 a{
                 color: #e99401;
                 font-size: 20px;
                 text-decoration: none;
                 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                 overflow: hidden;
                 cursor: pointer;
                 
                 }
                
     }

     
}


@media(max-width: 768px) {

    ul {
        display: flex;
         flex-direction: row;
         align-items: center;
         justify-content: space-around;
    }
    
        }


.container-search{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: fit-content;
}
.searchInput{
    height: 30px;
    width: 30px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 1px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: #f9bc60c2;
    color: #fff;
    text-align: center;
}

.searchInput::placeholder {
    color: rgba(255,255,255,.5);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
}

.botonSearchBook{
    width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  color:#ffffff ;
  background-color:transparent;
  pointer-events: painted; 
}


.botonSearchBook:focus ~ .searchInput{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
  .searchInput:focus{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }

.container-carro{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: stretch;
    width: 20%;
    align-items: center;
}

.divForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;

    border: 3px ridge #001e1d;
    width: 363px;
    border-radius: 17px;

    box-shadow: 0px 1px 15px rgb(9, 26, 8);
    background-color: #abd1c6;
}

.content {
    min-height: calc(100vh - 173px);
}

.active {
    display: flex;
    align-items: center;
}