@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');
/* Para usar la fuente
 font-family: 'Raleway', sans-serif */

@import "./variables";
@import "./components/LoginForm/LoginForm.scss";
@import "./App.scss";
@import "./components/RegisterForm/RegisterForm.scss";
@import "./components/Books/Books";
<<<<<<< HEAD
@import "./components/ShoppingCart/ShoppingCart";
=======
@import "./components/Footer/Footer";
>>>>>>> f79173138535b57c2660e1b9a82ba29d5cb01305

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  background-color: #004643;
}
